repos:
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.23.3
  hooks:
  - id: gitleaks

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-merge-conflict
  - id: mixed-line-ending
    args: ['--fix=lf']
  - id: detect-private-key
  - id: check-case-conflict

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
  - id: shellcheck
  - id: shfmt

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.44.0
  hooks:
  - id: markdownlint
    args: ["--fix"]

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
