# IEEE 1788 Interval Arithmetic native library for Ada
# Copyright (C) 2024,2025 Torsten Knodt

# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 3.0 of the License, or (at your option) any later version.

# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.

# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

# As a special exception to the GNU Lesser General Public License version 3
# ("LGPL3"), the copyright holders of this Library give you permission to convey
# to a third party a Combined Work that links statically or dynamically to this
# Library without providing any Minimal Corresponding Source or Minimal
# Application Code as set out in 4d or providing the installation information set
# out in section 4e, provided that you comply with the other provisions of LGPL3
# and provided that you meet, for the Application the terms and conditions of the
# license(s) which apply to the Application.

# Except as stated in this special exception, the provisions of LGPL3 will
# continue to comply in full to this Library. If you modify this Library, you
# may apply this exception to your version of this Library, but you are not
# obliged to do so. If you do not wish to do so, delete this exception statement
# from your version. This exception does not (and cannot) modify any license terms
# which apply to the Application, with which you must still comply.

name: CI/ CD

on:
  push:
    tags:
      - "*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref || github.run_id}}
  cancel-in-progress: true

permissions: {}

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            proxy.golang.org:443
            pypi.org:443
            registry.npmjs.org:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38
        with:
          cache: pip

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files --show-diff-on-failure

  GNATprove:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Alire
        uses: alire-project/setup-alire@678ded26f00993ff4ae2ab42248c44e887c1f2e7 # v4

      - name: Install FSF toolchain
        uses: alire-project/alr-install@b9d8855d9aba7d57fa27e70c1e6f8218f8c127c0
        with:
          crates: gnat_native gprbuild gnatprove

      - name: Alire Validation Build
        run: alr --chdir=$GITHUB_WORKSPACE --non-interactive build --validation

      - name: Alire GNATprove
        run: alr --chdir=$GITHUB_WORKSPACE --non-interactive gnatprove --proof=progressive:all --level=4 -j0 --checks-as-errors=on --warnings=error

      - name: Publish GNATprove Output
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: gnatprove.out
          path: obj/validation/gnatprove/gnatprove.out

  Test:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Alire
        uses: alire-project/setup-alire@678ded26f00993ff4ae2ab42248c44e887c1f2e7 # v4

      - name: Install FSF toolchain
        uses: alire-project/alr-install@b9d8855d9aba7d57fa27e70c1e6f8218f8c127c0
        with:
          crates: gnat_native gprbuild gnatcov

      - name: Build and install gnatcov_rts_full
        run: |
          export GNATCOV_RTS_BUILD_PATH="${{ runner.temp }}/gnatcov_rts-build"
          export GNATCOV_RTS_INSTALL_PATH="${{ runner.temp }}/gnatcov_rts-install"
          mkdir -p "${GNATCOV_RTS_BUILD_PATH}"
          cd "${GNATCOV_RTS_BUILD_PATH}"
          gprbuild -p -P$GITHUB_WORKSPACE/alire_prefix/share/gnatcoverage/gnatcov_rts/gnatcov_rts_full.gpr
          gprinstall -p -P$GITHUB_WORKSPACE/alire_prefix/share/gnatcoverage/gnatcov_rts/gnatcov_rts_full.gpr --prefix="${GNATCOV_RTS_INSTALL_PATH}"
          find "${GNATCOV_RTS_INSTALL_PATH}"
          echo "GPR_PROJECT_PATH=${GNATCOV_RTS_INSTALL_PATH}/share/gpr:${GPR_PROJECT_PATH}" >> $GITHUB_ENV

      - name: Alire Generate Configuration
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force build --validation --stop-after=generation

      - name: Alire GNATcov Instrument
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force gnatcov instrument --level=stmt+mcdc --dump-trigger=atexit --projects=$GITHUB_WORKSPACE/ieee1788.gpr

      - name: Alire Build Instrumented Test Code
        env:
          GPR_PROJECT_PATH: ${{ env.GPR_PROJECT_PATH }}
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force build --validation -- --src-subdirs=gnatcov-instr --implicit-with=gnatcov_rts_full

      - name: Alire Run Instrumented Tests
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force run --skip-build --args "$GITHUB_WORKSPACE/aunit_results.xml"
        env:
          GNATCOV_TRACE_FILE: $GITHUB_WORKSPACE/

      - name: Publish AUnit Results
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: aunit_results.xml
          path: aunit_results.xml

      - name: Alire GNATcov Report XCOV+
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force gnatcov coverage --annotate=xcov+ --output-dir $GITHUB_WORKSPACE/gnatcov_out --level=stmt+mcdc --projects ieee1788.gpr $GITHUB_WORKSPACE/*.srctrace

      - name: Alire GNATcov Report DHTML
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force gnatcov coverage --annotate=dhtml --output-dir $GITHUB_WORKSPACE/gnatcov_out --level=stmt+mcdc --projects ieee1788.gpr $GITHUB_WORKSPACE/*.srctrace

      - name: Alire GNATcov Report HTML
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force gnatcov coverage --annotate=html+ --output-dir $GITHUB_WORKSPACE/gnatcov_out --level=stmt+mcdc --projects ieee1788.gpr $GITHUB_WORKSPACE/*.srctrace

      - name: Alire GNATcov Report Sarif
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force gnatcov coverage --annotate=sarif --output-dir $GITHUB_WORKSPACE/gnatcov_out --level=stmt+mcdc --projects ieee1788.gpr $GITHUB_WORKSPACE/*.srctrace

      - name: Publish GNATcov Output
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: gnatcov_out
          path: gnatcov_out

  Publish:
    needs: [GNATprove, Test, pre-commit]
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            api.github.com:443
            objects.githubusercontent.com:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Alire
        uses: alire-project/setup-alire@678ded26f00993ff4ae2ab42248c44e887c1f2e7 # v4

      - name: Install FSF toolchain
        uses: alire-project/alr-install@b9d8855d9aba7d57fa27e70c1e6f8218f8c127c0
        with:
          crates: gnat_native gprbuild

      - name: Alire Publish
        run: alr --chdir=$GITHUB_WORKSPACE --non-interactive --force publish ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') && '' || '--skip-submit' }} --tar . ${{ github.sha }}

      - name: Publish Alire Archive
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: alire-archive
          path: alire/archive/

  GNATdocHTML:
    needs: pre-commit
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443
            pypi.org:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Alire
        uses: alire-project/setup-alire@678ded26f00993ff4ae2ab42248c44e887c1f2e7 # v4

      - name: Install FSF toolchain with GNATdoc
        uses: alire-project/alr-install@b9d8855d9aba7d57fa27e70c1e6f8218f8c127c0
        with:
          crates: gnat_native gprbuild gnatdoc

      - name: Alire Generate Configuration
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force build --stop-after=generation

      - name: Generate HTML Documentation
        run: |
          gnatdoc --output-dir=doc/html \
                  --generate body \
                  --backend html \
                  --warnings \
                  --html-oop-style \
                  --style gnat \
                  ieee1788.gpr

      - name: Upload Documentation Artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa
        with:
          name: GNATdoc-html
          path: doc/html

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main' || (startsWith(github.ref, 'refs/tags/') && github.event.base_ref == 'refs/heads/main')
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e
        with:
          artifact_name: GNATdoc-html
          preview: ${{ startsWith(github.ref, 'refs/tags/') && 'false' || 'true' }}

  GNATdocRST:
    needs: pre-commit
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443
            pypi.org:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Alire
        uses: alire-project/setup-alire@678ded26f00993ff4ae2ab42248c44e887c1f2e7 # v4

      - name: Install FSF toolchain with GNATdoc
        uses: alire-project/alr-install@b9d8855d9aba7d57fa27e70c1e6f8218f8c127c0
        with:
          crates: gnat_native gprbuild gnatdoc

      - name: Alire Generate Configuration
        run: alr --chdir=$GITHUB_WORKSPACE/tests --non-interactive --force build --stop-after=generation

      - name: Generate RST Documentation
        run: |
          gnatdoc --output-dir=doc/rst \
                  --generate body \
                  --backend rst \
                  --warnings \
                  --html-oop-style \
                  --style gnat \
                  ieee1788.gpr

      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: GNATdoc-rst
          path: doc/rst

  GNATdocRST2:
    name: GNATdoc rst to ${{ matrix.format }}
    strategy:
      matrix:
        include:
          - format: html
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes --math-output=MathJax
          - format: html4
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes --math-output=MathJax
          - format: html5
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes --math-output=MathJax --section-self-link
          - format: latex
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes --embed-stylesheet --use-part-section --use-latex-docinfo --use-latex-abstract
          - format: man
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes
          - format: odt
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes --add-syntax-highlighting --create-links
          - format: s5
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes --visible-controls --current-slide
          - format: xetex
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes --embed-stylesheet --use-part-section --use-latex-docinfo --use-latex-abstract
          - format: xml
            params: --generator --time --source-link --verbose --strict --traceback --output-encoding=us-ascii:strict --pep-references --rfc-references --smart-quotes=yes --newlines --indents
    needs: GNATdocRST
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443
            pypi.org:443
            files.pythonhosted.org:443

      - name: Download Documentation Artifact
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16
        with:
          name: GNATdoc-rst
          path: doc/rst

      - name: Setup Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38
        with:
          cache: pip

      - name: Install docutils and sphinxcontrib-adadomain
        run: pip install -U docutils git+https://github.com/AdaCore/sphinxcontrib-adadomain

      - name: rst to ${{ matrix.format }}
        id: rst_to
        run: for SOURCE in doc/rst/*.rst; do rst2${{ matrix.format }} ${{ matrix.params }} --output=doc/${{ matrix.format }} "${SOURCE}"; done

      - name: Show help on failure
        if: failure() && steps.rst_to.conclusion == 'failure'
        run: rst2${{ matrix.format }} --help
        continue-on-error: true

      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: GNATdoc-rst-${{ matrix.format }}
          path: doc/${{ matrix.format }}
